@keyframes blinkingInputIndicator {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sliderGettingWider {
  0% {
    width: 100%;
  }

  100% {
    width: 7000%;
  }
}

@keyframes textAreaIsBack {
  0% {
    width: 10px;
    height: 10px;
  }

  100% {
    width: 200px;
    height: auto;
  }
}

@keyframes disclaimerTextAppearing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes finalTextsFadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f0ebf8;
}

main {
  display: flex;
  background-color: #fff;
  width: 60vw;
  height: fit-content;

  margin: 1rem auto;
  gap: 1.5rem;
  padding: 1rem 2rem;
  flex-direction: column;
  border: 1px solid rgb(218, 220, 224);
  box-shadow: 0px 0px 32px px rgb(218, 220, 224);
  border-radius: 24px;
}

.line {
  height: 1px;
  width: auto;
  margin: -0.5rem -2rem;
  background-color: rgb(218, 220, 224);
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.apology-span {
  color: blue;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.apology-span:hover {
  color: darkblue;
}

.apology-message {
  font-size: 0.9rem;
  font-family: serif;
  color: black;
  width: 180vw;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}

.apology-href {
  font-size: 0.875rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.125rem 0.3rem;
  background-color: #09080d;
  color: #bcb3d1;
  border: 1.5px solid #251f33;
  border-radius: 1px;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.apology-href.visible {
  opacity: 1;
}

.close-apology-btn {
  position: fixed;
  font-size: 3rem;
  right: 0;
  top: 0;
  width: 0rem;
  height: 0vh;
  color: red;
  border: solid 90px;
  border-color: transparent transparent transparent white;
  cursor: pointer;
  z-index: 9;
}

.form-user-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-fields-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-user-field {
  display: flex;
  flex-direction: column;
  width: 12rem;
  gap: 0.2rem;
}

.input-label {
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
  font-size: 13.4px;
  padding: 2px 4px;
  color: gray;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 3px;
}

.input-label:hover {
  cursor: text;
  border-color: #26a0da;
}

.input-label.focus {
  border-color: transparent;
  outline: 2px solid black;
  border-radius: 1px;
}

.input-indicator {
  position: absolute;
  left: 0;
  top: 0;
  margin: -8px 0px 0px -3.2px;
  font-size: 23px;
  color: black;

  animation-name: blinkingInputIndicator;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}

.label-input {
  font-size: 1rem;
  border: none;
  padding-block: 0;
  padding-inline: 0;
  cursor: default;
}

.label-input:focus {
  outline: none;
}

.label-input:disabled {
  background-color: white;
}

.label-input::placeholder {
  color: black;
}

.number-slider-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number-slider {
  appearance: none;
  height: 1rem;
  background: white;
  outline: 1px solid rgb(118, 118, 118);
  border-radius: 2px;

  animation-name: sliderGettingWider;
  animation-duration: 480s;
  animation-delay: 8s;
}

.number-slider::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 16px;
  cursor: pointer;
}

.number-slider::-moz-range-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 16px;
  cursor: pointer;
}

.number-value-display {
  position: absolute;
  transform: translateX(-50%);
  margin-bottom: 16px;
  background-color: white;
  color: black;
}

.form-feedback-report {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-feedback-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  height: 100%;
}

.textarea-feedback {
  height: 250px;
  animation-name: textAreaIsBack;
  animation-duration: 1.5s;
}

.textarea-shy {
  width: 10px;
  height: 10px;
  outline: 2px solid black;
  resize: none;
}

.feedback-talk {
  color: salmon;
  font: 1.25rem;
  user-select: none;
}

.move-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 9999;
  cursor: pointer;

  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background: black;
  border: 4px solid rgb(118, 118, 118);
  color: white;
}

.disclaimer-p {
  color: red;
  position: fixed;
  top: 68vh;
  right: 50px;

  animation-name: disclaimerTextAppearing;
  animation-duration: 5s;
}

.form-submit {
  display: flex;
}

.submit-button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #098de6;

  border-radius: 0.5rem;
}

.submit-button:hover {
  background-color: #26a0da;
}

.submit-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.submit-button.position-01 {
  position: absolute;
  top: 100px;
  right: 90px;
}

.submit-button.position-02 {
  position: absolute;
  bottom: 10px;
  left: 110px;
}

.submit-button.position-03 {
  position: absolute;
  top: 50vh;
  left: 25vw;
}

.textarea-holds-button {
  pointer-events: none;
  position: absolute;
  font-size: 1.25rem;
  background-color: rgb(255, 255, 255, 0.8);
  top: 52vh;
  left: 3.5vw;
}

.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 100vh;
  width: 100vw;

  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
}

.final-message-01 {
  animation-name: finalTextsFadein;
  animation-duration: 3s;
}

.final-message-02 {
  color: white;
  animation-name: finalTextsFadein;
  animation-duration: 25s;
}

.final-message-03 {
  color: white;
  animation-name: finalTextsFadein;
  animation-duration: 40s;
}
